<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contactez-nous</h1>
            <p class="leading-relaxed text-base">
                Vous avez une question ? Vous souhaitez nous contacter ? N'hésitez pas à nous envoyer un message !
            </p>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
                <div class="p-2 w-1/2">
                    <div class="relative">
                        <label for="nom" class="leading-7 text-sm text-gray-600">
                            Nom
                            <span class="text-red-500 text-xs mt-1" 
                                *ngIf="contactForm.get('nom')?.errors?.['required']">*
                            </span>
                        </label>
                        <input type="text" id="nom" name="nom" formControlName="nom"
                            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                            [class.border-red-500]="contactForm.controls['nom'].touched && contactForm.controls['nom'].invalid"
                            [class.border-green-500]="contactForm.controls['nom'].touched && contactForm.controls['nom'].valid">
                        <div *ngIf="contactForm.controls['nom'].touched && contactForm.controls['nom'].invalid" class="text-red-500 text-xs mt-1">
                            {{ getErrorMessage(contactForm.get('nom')) }}
                        </div>
                    </div>
                </div>
                <div class="p-2 w-1/2">
                    <div class="relative">
                        <label for="email" class="leading-7 text-sm text-gray-600">
                            Email
                            <span class="text-red-500 text-xs mt-1" 
                                *ngIf="contactForm.get('email')?.errors?.['required']">*
                            </span>
                        </label>
                        <input type="email" id="email" name="email" formControlName="email"
                            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"  
                            [class.border-red-500]="contactForm.controls['email'].touched && contactForm.controls['email'].invalid"
                            [class.border-green-500]="contactForm.controls['email'].touched && contactForm.controls['email'].valid">
                            <div *ngIf="contactForm.controls['email'].touched && contactForm.controls['email'].invalid" class="text-red-500 text-xs mt-1">
                                {{ getErrorMessage(contactForm.get('email')) }}
                            </div>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="message" class="leading-7 text-sm text-gray-600">
                            Message
                            <span class="text-red-500 text-xs mt-1" 
                                *ngIf="contactForm.get('message')?.errors?.['required']">*
                            </span>
                        </label>
                        <textarea id="message" name="message" formControlName="message"
                            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                            [class.border-red-500]="contactForm.controls['message'].touched && contactForm.controls['message'].invalid"
                            [class.border-green-500]="contactForm.controls['message'].touched && contactForm.controls['message'].valid">
                        </textarea>
                        <div *ngIf="contactForm.controls['message'].touched && contactForm.controls['message'].invalid" class="text-red-500 text-xs mt-1">
                            {{ getErrorMessage(contactForm.get('message')) }}
                        </div>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <button type="submit"
                        [disabled]="contactForm.invalid"
                        class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                        Envoyer
                    </button>
                </div>
            </div>
            <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
                <a class="text-indigo-500" href="mailto:contact@potits-chats.com">contact@potits-chats.com</a>
                <p class="leading-normal my-5">
                    2 place de l'Europe,<br>31000 Toulouse
                </p>
            </div>
        </form>
    </div>
</section>
