<div class="flex justify-center">
    <img class="w-full h-48 object-cover" src="../../assets/pattounes.jpg" alt="pattounes profil">
</div>

<p-accordion class="w-full">
    <p-accordionTab>
        <ng-template pTemplate="header">
            <div class="flex align-items-center">
                <i class="pi pi-calendar mr-2"></i>
                <span class="vertical-align-middle">Editeur</span>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="m-0">
                Conformément aux dispositions de l’article 6-I 1° de la loi n°2004-575 du 21 juin 2004 relative à la confiance dans l’économie numérique, l’éditeur du site web www.potits-chats.com est :<br>

Le groupe LMST composée de Léo AIRAUDI, Tyffanie RIBEIRO, Marion SEGRIA et de Sarah MIGNON.<br>

Numéro de téléphone : 01 23 45 67 89 (prix d'un appel local depuis un poste fixe)<br>

Adresse électronique : <a href="/contact">formulaire de contact</a><br>
            </p>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab>
        <ng-template pTemplate="header">
            <div class="flex align-items-center">
                <i class="pi pi-search mr-2"></i>
                <span class="vertical-align-middle">Directeur de la publication</span>
                <i class="pi pi-cog ml-2 ml-2"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="m-0">
                La directrice de la publication du site web www.potits-chats.com est Sarah MIGNON, en qualité de Chef de projet du groupe LMST.
            </p>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab>
        <ng-template pTemplate="header">
            <div class="flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <span class="vertical-align-middle">Hébergement</span>
                <i class="pi pi-cog ml-2 ml-2"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="m-0">
                Le prestataire assurant le stockage direct et permanent du site www.potits-chats.com est la société Vercel Inc dont le siège social est à San Fransisco aux Etats-Unis. <br>

                Support: https://vercel.com/contact</p>
        </ng-template>
    </p-accordionTab>
</p-accordion>
