<footer>

    <div class="flex flex-col items-center border-t border-gray-300 py-10 sm:flex-row-reverse sm:justify-between">
        <div class="flex gap-x-6">
            <a class="group" aria-label="Home" routerLink="/">Home</a>
            <a class="group" aria-label="Trading" routerLink="/trading">Trading</a>
            <a class="group" aria-label="Partenaires" routerLink="/partenaires">Partenaires</a>
            <a class="group" aria-label="RaveProject" routerLink="/raveproject">RaveProject</a>
            <a class="group" aria-label="Global Account amount" routerLink="/global-account">Global Account amount</a>
        </div>


