<footer class="border-top border-gray-300 py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 d-flex justify-content-between flex-wrap">
        <a class="group me-3 text-center" aria-label="Home" routerLink="/">
          <img src="../../assets/icon/king.png" alt="Home Icon" class="icon mb-2">
          <span>Home</span>
        </a>
        <a class="group me-3 text-center" aria-label="Trading" routerLink="/trading">
          <img src="../../assets/icon/king.png" alt="Trading Icon" class="icon mb-2">
          <span>Trading</span>
        </a>
        <a class="group me-3 text-center" aria-label="Vendetta" routerLink="/vendetta">
          <img src="../../assets/icon/king.png" alt="Vendetta Icon" class="icon mb-2">
          <span>Vendetta*</span>
        </a>
        <a class="group me-3 text-center" aria-label="Parrainage" routerLink="/parrainage">
          <img src="../../assets/icon/king.png" alt="Parrainage Icon" class="icon mb-2">
          <span>Parrainage</span>
        </a>
        <a class="group me-3 text-center" aria-label="GlobalAccount" routerLink="/globalaccount">
          <img src="../../assets/icon/credit-card.png" alt="Global Account Icon" class="icon mb-2">
          <span>Global $$$</span>
        </a>
      </div>
    </div>
  </div>
</footer>


  
  


