<footer class="border-top border-gray-300 py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 d-flex justify-content-between flex-wrap">
          <a class="group me-3" aria-label="Home" routerLink="/">Home</a>
          <a class="group me-3" aria-label="Trading" routerLink="/trading">Trading</a>
          <a class="group me-3" aria-label="Partenaires" routerLink="/partenaires">Partenaires</a>
          <a class="group me-3" aria-label="RaveProject" routerLink="/raveproject">RaveProject</a>
          <a class="group me-3" aria-label="GlobalAccount" routerLink="/globalaccount">Global Account amount</a>
        </div>
      </div>
    </div>
  </footer>
  
  


