<div class="bg-white px-2 py-8 sm:py-10 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Les chats à adopter</h1>
        <p class="mt-4 text-md leading-6 text-gray-500">Nous avons plusieurs adorables chats qui cherchent un foyer
            aimant. Parcourez notre liste pour trouver votre compagnon parfait.</p>
    </div>
</div>

<app-loader *ngIf="!isLoaded"></app-loader>

<!-- Filter Inputs -->
<div *ngIf="isLoaded" class="px-4 py-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <form [formGroup]="form" (ngSubmit)="onSearch()" class="flex flex-wrap gap-4 justify-center items-center mb-8">
        <select formControlName="ville"
            class="form-select block w-full sm:w-auto px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option value="">Ville</option>
            <option value="toulouse">Toulouse</option>
        </select>
        <select formControlName="race"
            class="form-select block w-full sm:w-auto px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option value="">Race des chats</option>
            <option value="siamois">Siamois</option>
            <option value="persan">Persan</option>
            <option value="maine-coon">Maine Coon</option>
        </select>
        <select formControlName="association" class="form-select block w-full sm:w-auto px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option value="">Association</option>
            <option *ngFor="let association of associations" [value]="association.id">
                {{ association.nom }}
            </option>
        </select>
        <button type="submit" class="px-4 py-2 bg-indigo-500 text-white rounded-md">Chercher</button>
        <button type="button" (click)="onClear()" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md">Clean</button>
    </form>
</div>


<div *ngIf="isLoaded && chats && chats.length > 0"
    class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-16">

    <div class="text-left mb-8">
        <p class="text-lg font-medium text-gray-700">Nombre de chats disponibles : {{ chats.length }}</p>
    </div>
    <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
        <div *ngFor="let chat of chats; let index = index"
            class="overflow-hidden transition-shadow shadow-xl duration-300 bg-white rounded shadow-sm">
            <div class="group relative m-0 flex h-full w-full rounded-xl ring-gray-900/5 sm:mx-auto sm:max-w-lg">
                <div
                    class="z-10 h-full w-full overflow-hidden rounded-xl border opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:opacity-80">
                    <a [routerLink]="'/animaux/' + chat.id">
                        <img [src]="chat.photos[0].url" loading="lazy" decoding="async"
                            class="object-cover w-full h-64 animate-fade-in block scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110"
                            alt="" />
                    </a>
                    <div class="p-5 border h-full">
                        <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
                            <a class="transition-colors duration-200 text-blue-gray-900 hover:text-deep-purple-accent-700"
                                aria-label="Association" title="L'association">{{chat.association.nom}}</a>
                            <span class="text-gray-600"> - {{formatDate(chat.createdAt)}}</span>
                        </p>
                        <fa-icon *ngIf="auth.isAuthenticated$ | async" [icon]="chat.isFavori ? faHeart : fasHeart"
                            aria-label="Favori" title="Favori" class="mr-2 fa-xl"
                            [ngClass]="{'text-red-500': chat.isFavori, 'cursor-pointer': true}"
                            (click)="toggleFavori(chat)"></fa-icon>
                        <div [routerLink]="'/animaux/' + chat.id" aria-label="Animaux" title="Découvrir plus"
                            class="inline-block mb-3 text-2xl font-bold leading-5 transition-colors duration-200 hover:text-deep-purple-accent-700">
                            <a [routerLink]="'/animaux/' + chat.id" class="inline-block">{{chat.nom}}</a>
                            <fa-icon *ngIf="chat.sexe === sexe.FEMELLE" [icon]="faVenus" aria-label="Sexe"
                                title="Femelle" class="ml-2" style="color: fuchsia;"></fa-icon>
                            <fa-icon *ngIf="chat.sexe === sexe.MALE" [icon]="faMars" aria-label="Sexe" title="Male"
                                class="ml-2" style="color: Dodgerblue;"></fa-icon>
                        </div>
                        <p class="mb-2 text-gray-700" [innerHTML]="sanitizeHtml(chat.description)"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination Block -->
    <div class="w-full flex justify-center mt-8">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="chats.length"
            [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
</div>

<div *ngIf="isLoaded && (!chats || chats.length == 0)" class="text-center mt-12">
    <h2 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">Pas de chat pour le moment :/</h2>
</div>