<div *ngIf="chats" class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">

    <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">

        <div *ngFor="let chat of chats; let index = index"
            class="overflow-hidden transition-shadow duration-300 bg-white rounded shadow-sm">
            <img [src]="chat.photos[0].url" loading="lazy" decoding="async" class="object-cover w-full h-64" alt="" />
            <div class="p-5 border border-t-0">
                <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
                    <a href="/assos/1"
                        class="transition-colors duration-200 text-blue-gray-900 hover:text-deep-purple-accent-700"
                        aria-label="Catégorie" title="Association de Chats">Association : {{chat.association.nom}}</a>
                    <span class="text-gray-600">— 28 Dec 2020</span>
                </p>
                <div href="/animaux/1" aria-label="Animaux" title="En savoir plus"
                    class="inline-block mb-3 text-2xl font-bold leading-5 transition-colors duration-200 hover:text-deep-purple-accent-700">
                    <a href="/animaux/1" class="inline-block">{{chat.nom}}</a>
                    <fa-icon *ngIf="chat.sexe === 'FEMELLE'" [icon]="faVenus" aria-label="Sexe" title="Femelle"
                        class="ml-2" style="color: fuchsia;"></fa-icon>
                    <fa-icon *ngIf="chat.sexe === 'MALE'" [icon]="faMars" aria-label="Sexe" title="Male" class="ml-2"
                        style="color: Dodgerblue;"></fa-icon>

                </div>
                <p class="mb-2 text-gray-700">
                    {{chat.description}}
                </p>
                <a href="/animaux/1" aria-label=""
                    class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
                    En savoir plus sur {{chat.nom}}
                </a>
            </div>
        </div>






    </div>
</div>