<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Profil à gauche -->
      <a class="navbar-brand me-auto" routerLink="/profil">Profil</a>
      
      <!-- RavePay au centre -->
      <a class="navbar-brand mx-auto" routerLink="/a-propos">R4V3pay</a>
      
      <!-- Liens à droite -->
      <div class="d-flex">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/wallet" routerLinkActive="active">Wallet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/credit-card" routerLinkActive="active">Credit Card</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
