/* Style pour le conteneur principal de la navigation */
.nav-container {
  background-color: #262626;
  border-bottom: 1px solid #d1d5db;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style pour le conteneur intérieur de la navigation */
.nav-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* Style pour les liens de la marque avec icône */
.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem; /* Espacement entre les éléments de la barre de navigation */
}

.navbar-brand .nav-icon {
  width: 24px; /* Ajustez la taille selon vos besoins */
  height: 24px; /* Ajustez la taille selon vos besoins */
  margin-bottom: 0.5rem; /* Espacement entre l'icône et le texte */
}

/* Style pour le texte sous les icônes */
.navbar-brand div {
  font-size: 0.875rem;
}

/* Style pour les éléments de navigation avec icônes */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem; /* Espacement entre les éléments de la barre de navigation */
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.nav-link .nav-icon {
  width: 24px; /* Ajustez la taille selon vos besoins */
  height: 24px; /* Ajustez la taille selon vos besoins */
  margin-bottom: 0.5rem; /* Espacement entre l'icône et le texte */
}

.nav-link div {
  font-size: 0.875rem;
}

/* Style pour le lien actif */
.nav-link.active {
  color: #1638f9;
  border-color: #f916d3;
}

/* Style pour les boutons de navigation */
.nav-button {
  color: #ffffff;
  background-color: #fff;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-button:hover {
  background-color: #f3f4f6;
}

/* Style pour les liens de navigation */
.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: #ffffff;
  border-color: #ffffff;
}

