  <!-- Section Value Global Account -->
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-8">
      <div class="value-global-account">
        <h2>Value Global Account</h2>
        <div class="account-line">
          <span class="label">F.I.A.T:</span>
          <span class="value">{{ fiatAmount }}</span>
        </div>
        <div class="account-line">
          <span class="label">R4V3 Token:</span>
          <span class="value">{{ r4v3TokenAmount }}</span>
        </div>
        <div class="account-line">
          <span class="label">Somme Globale:</span>
          <span class="value">{{ totalAmount }}</span>
        </div>
      </div>
    </div>
  </div>
