<!-- Section R4V3 Best Contributor -->
<section class="partner-section mb-5 p-3 border rounded">
    <div class="text-center">
      <h1>Parrainage <br></h1><br><br><br>
      <h6>Please DeZoom ur screen at 10%</h6><br><br><br>
       <h3> Où chaque Filleul developpe votre Vendetta financière et <br>sculpte votre FaithWay"<br><br></h3>
      <div class="partner-info">
        <p>
            <strong>?%0.0001%? de frais de transaction! sur la blockchain R4V3 par transaction est une bonne idée?<br> Oui;<br><br>
The W0RLD. can play at Vendetta*<br></strong>


Chaque action(microtransaction de minimum 1 maTers) dans les Dapps vaux 1 maTer minimum.

                                                   <br>  1 R4V3(Token) = 1,000.000.000.000.001 R4V3 = 1euro
                                                   <br>  1 maTer = 0,000.000.000.000.001R4V3
                                                   <br>  1 maTer coute  0,000.000.000.000.001TokenR4V3 <br>


Régles#611 : - Chaque filleul et parrain font partis de la Squad Initial de FrenchFuck#611 <br>
     En gros automatiquement FrenchFuck#611 est d'office parrain de tous filleuls ou parrains<br> 
         - Si un compte sur une Dapp avec : 1micro transaction = 1maTer minimum est faites peux importe la provenance , <br>Kaboul#611 devient parrain d'office <br>
                                          : 0 micro transaction = 0maTer minimum est creer sur une Dapp du R4V3 Project , <br>Kaboul#611 devient parrain d'office.<br>

             et par principe d'équité les 11 de la 611 sont donc parrain de tous filleuls qui n'a pas de parrainage si il micro-transactionne 1x minimum sur une Dapp = 1 micro transaction d'1 maTer sur une Dapp.<br>



Règles#TeamDev' /
HilliesAmri(https://github.com/Hilliesamri)
RomainBouazza(https://github.com/Rutkarf/)
 : Pour Chaque Membre TeamDev'( personne avec 1 push minimum sur GitHub ou Validation d'intégration TeamDev') / <br>peux importe le projet tenues par<br>LelobbySociety&FaithWay<br>
                D'office les regles en matiere de parrainage de la Régles#611 s'applique si 1 membre de la TeamDev' le souhaite(peux demander de l'annuler a tout moment).<br>
F
                      La TeamDev' est d'office parrain de tout utilisateur sur le testnet R4V3 et tout autres réseaux/Dapp développe par LelobbySociety ou FaithWay ou par Collaboration.<br>






///////////////////////////////// 









                   Systeme de parrainage : Pour valider un filleul<br>

Tous les 101 filleuls nous figeons pour 31jours glissants les 100 précedents ajouts dans leur bag respectif ,Parrainez stratégique!<br>

///////Sous ces 3 conditions le Parrain benificiera d'un parrainage Validé\\\\\\\<br>
- Si un filleul KYC sous Ravepay en 26 jours  = !IMMEDIAT!  (après AntiCheatVerif'!) /Parrainage Validé\ <br>
- Si un Filleul s'inscrit aux Dapps dispo du R4V3 project'( hors Ravepay ) sous 26jours = !IMMEDIAT! (après AntiCheatVerif'!)   /Parrainage Validé\<br>
- Si un filleul depense +100.01euro(Aprés/Soumis aux frais de transaction) sous Ravepay en 26jours = !IMMEDIAT! (après AntiCheatVerif')!   /Parrainage Validé\<br>
///////A dessus si l'une de ces 3 conditions est respecter le Parrain benificiera d'un parrainage Validé\\\\\\\<br>



Filleul Option / Régles<br>

Option1: Un filleul peux s'abonner a 2 parrains et jusqu'a 3 parrains si l'un des parrains est dans une Squad.<br>
 

Parrain Option <br>
Option1 : Un Parrain devra faire 2 paquets de filleuls : - Un qu'il encaissera en R4V3/maTer Token / - Un autre qu'il abandonnera a la R4V3 economy ( 51%Team Dev' R4V3 project + 49%FaithWay )<br>
Option2 : Un parrain peux avoir jusqu'a 10 filleuls de plus dans un paquets que dans l'autres ,au dessus (11 de decallage) il est obligé de régulariser la situation ( possibilité d'interswitch les filleuls entre paquet des accounts non soumis au Freeze (AntiCheatVerif'!):)<br>
Option4 : ( cashout dispo a partir de 175 filleuls ) Tous les 26jours glissants(AntiCheatVerif'!) on peux cashout l'accumulation dans le Bag Cashback des filleuls pendant 3 jours, il faudrat attendre un nouveau cycle de 26 jours pour pouvoir decaisser pendant 3 jours de nouveaux.<br>



      !/Pourcentage reduction frais de transaction ( de base 0.0001% de la transaction)\!<br><br>

0 filleul : base 0.0001% de la transaction<br>
Il faut prendre le pourcentage de base 0.0001% de la transaction et y appliquer une réduction Parrainage <br>

Si <br>
001 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.1% de frais de transaction<br>
012 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.05% de frais de transaction<br>
026 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.09% de frais de transaction<br>
028 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.001% de frais de transaction<br>
031 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.005% de frais de transaction<br>
043 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.009% de frais de transaction<br>
053 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.0001% de frais de transaction<br>
065 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.0005% de frais de transaction<br>
073 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.0009% de frais de transaction<br>
083 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.00001% de frais de transaction<br>
093 filleul : base 0.0001% de la transaction + "réduction Parrainage" 0.00005% de frais de transaction<br>
099 filleul : Pret Freeze du Bag'( 26 jours ) <br>
103 filleul : Freeze du Bag (100premier filleul) ( 26 jours )<br>
113 filleul :base 0.0001% de la transaction + "réduction Parrainage" 0.00009% de frais de transaction<br>
123 filleul :base 0.0001% de la transaction + "réduction Parrainage" 0.000001% de frais de transaction<br>
133 filleul :base 0.0001% de la transaction + "réduction Parrainage" 0.000005% de frais de transaction<br>
143 filleul :base 0.0001% de la transaction + "réduction Parrainage" 0.000009% de frais de transaction<br>
153 filleul :base 0.0001% de la transaction + "réduction Parrainage" 0.0000001% de frais de transaction<br>
161 filleul :base 0.0001% de la transaction + "réduction Parrainage" 0.0000005% de frais de transaction<br>
175 filleul :base 0.0001% de la transaction + "réduction Parrainage" 0.0000009% de frais de transaction<br>

                           Besoin de 183 filleuls (+) moins le nombre de Parrainage(Global) pour CashOut <br>
   
      !/ CashBack frais de transactions des filleuls \! ( la "réduction Parrainage" ne s'applique plus a ce palier 183 filleuls (+) moins le nombre de Parrainage(Global) pour CashOut)<br>

183 filleuls :base 0.0001% de la transaction + 0.0000001% de cashback de frais de transactions des filleuls<br>
193 filleuls :base 0.0001% de la transaction + 0.0000005% de cashback de frais de transactions des filleuls<br>
206 filleuls Freeze du Bag'( 26 jours )<br>
213 filleuls :base 0.0001% de la transaction + 0.0000009% de cashback de frais de transactions des filleuls<br>
223 filleuls :base 0.0001% de la transaction + 0.000001% de cashback de frais de transactions des filleuls<br>
233 filleuls :base 0.0001% de la transaction + 0.000005% de cashback de frais de transactions des filleuls<br>
243 filleuls :base 0.0001% de la transaction + 0.000009% de cashback de frais de transactions des filleuls<br>
253 filleuls :base 0.0001% de la transaction + 0.00001% de cashback de frais de transactions des filleuls<br>
263 filleuls :base 0.0001% de la transaction + 0.00005% de cashback de frais de transactions des filleuls<br>
273 filleuls :base 0.0001% de la transaction + 0.00009% de cashback de frais de transactions des filleuls<br>
283 filleuls :base 0.0001% de la transaction + 0.0001% de cashback de frais de transactions des filleuls<br>
293 filleuls :base 0.0001% de la transaction + 0.0005% de cashback de frais de transactions des filleuls<br>
300 filleuls :base 0.0001% de la transaction + 0.0009% de cashback de frais de transactions des filleuls<br>
309 Freeze du Bag'( 26 jours )<br>
313 filleuls :base 0.0001% de la transaction + 0.001% de cashback de frais de transactions des filleuls<br>
323 filleuls :base 0.0001% de la transaction + 0.005% de cashback de frais de transactions des filleuls<br>
313 filleuls :base 0.0001% de la transaction + 0.009% de cashback de frais de transactions des filleuls<br>
333 filleuls :base 0.0001% de la transaction + 0.01% de cashback de frais de transactions des filleuls<br>
353 filleuls :base 0.0001% de la transaction + 0.05% de cashback de frais de transactions des filleuls<br>
373 filleuls :base 0.0001% de la transaction + 0.09% de cashback de frais de transactions des filleuls<br>
393 filleuls :base 0.0001% de la transaction + 0.1% de cashback de frais de transactions des filleuls<br>
412 filleuls Freeze du Bag'( 26 jours )<br>
413 filleul :base 0.0001% de la transaction + 0.5% de cashback de frais de transactions des filleuls<br>
433 filleul :base 0.0001% de la transaction + 0.9% de cashback de frais de transactions des filleuls<br>
453 filleuls :base 0.0001% de la transaction + 1% de cashback de frais de transactions des filleuls<br>
473 filleuls :base 0.0001% de la transaction + 2% de cashback de frais de transactions des filleuls<br>
493 filleuls :base 0.0001% de la transaction + 3% de cashback de frais de transactions des filleuls<br>
505 filleuls :base 0.0001% de la transaction + 4% de cashback de frais de transactions des filleuls<br>
515 filleuls Freeze du Bag'( 26 jours )<br>
610 filleuls :base 0.0001% de la transaction + 5% de cashback de frais de transaction des filleuls <br><br>


Access(Event Dev'&VIP) + Access I2Pkernelapp&Pool de Minage  !/ Palier : Benef' au max' \!  = "CashBack frais de transactions des filleuls + réduction Parrainage" : A partir de 611<br>
611 Filleuls = 10% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.1% de frais de transactions<br>
618 filleuls Freeze du Bag'( 26 jours )<br>



1000 filleuls : 11% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.5% de frais de transactions<br>
1011 filleuls : 12% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.9% de frais de transactions<br>
1511 filleuls : 13% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.01% de frais de transactions<br>



                  <br>Option : Possibilité de reverser 100% des frais d'un compte a "FaithWay" dans Paramétres de Ravepay : A partir de 1973 filleuls<br>
1973 filleuls :  14% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.05% de frais de transactions<br>


                <br>  Option : Possibilité de reverser 100% des frais d'un compte a "TEAM DEV" dans Paramétres de Ravepay : A partir de 1995 filleuls<br>
1995 filleuls : 15% de cashback de frais de transactions des filleuls +"réduction Parrainage" 0.09% de frais de transaction<br>


                <br>  Option : Possibilité de reverser 100% des Benefs' après payement des frais d'un compte a "Wallet de son choix (?smart contract?) dans Paramétres de Ravepay : A partir de 1997 filleuls<br>
1997 filleuls : 16% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.005% de frais de transaction<br>



002511 filleul : 17% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.009% de frais de transaction<br>
003011 filleul : 18% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.0001% de frais de transaction<br>
003511 filleul : 19% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.0005% de frais de transaction<br>
004011 filleul : 20% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.0009% de frais de transaction<br>
004511 filleul : 21% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.00001% de frais de transaction<br>
005011 filleul : 22% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.00005% de frais de transaction<br>
005511 filleul : 23% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.00009% de frais de transaction<br>
006011 filleul : 24% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.000001% de frais de transaction<br>
006511 filleul : 25% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.000005% de frais de transaction<br>
007011 filleul : 26% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.000009% de frais de transaction<br>
007511 filleul : 27% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.0000001% de frais de transaction<br>
008000 filleul : 28% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.000005% de frais de transaction<br>
008500 filleul : 29% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.000009% de frais de transaction<br>
009000 filleul : 30% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.0000001% de frais de transaction<br>
009500 filleul : 31% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.0000005% de frais de transaction<br>
010000 filleul : 32% de cashback de frais de transactions des filleuls + "réduction Parrainage" 0.0000009% de frais de transaction<br>
100001 filleul : 33% de cashback de frais de transactions des filleuls + Remboursement des frais de transaction sur la blockchain R4V3<br>
<strong>DISCLAIMER</strong><br>

                                                                  Le systéme doit s'autofinancer et ne pas generer de benefice ( principe a appliquer : cercle vertueux & loi 1901)<br>
Le systeme de parrainage doit financer l'intégralité de l'utilisation de la Blockchain du R4V3 project pour les parrains/filleuls et doit s'autofinancer pour coutait 0euro mais exister :<br> - Infrastructure (Levier pour faire baisser le cout de l'infrastructure : PoolDeMinage & I2PKernelapp')<br>
                                                                                                                                                                                           - Developpement(Levier pour faire baisser le cout de  Developpement : OpenSource / AutoDev' des Dapps)<br>
                                                                                                
                            Ajustement du systéme si il est en perte d'argent aux niveaux des infrastructures ou du developpement pour exister<br>
                                                              ( Infrastructure & Developpement s'autofinance par les leviers)<br>

                                                              <br><br>
<strong>#Don't Sell Ur Dream <br></strong>/Roro'
        </p>
        <app-vendetta></app-vendetta>
      </div>
    </div>
  </section>
