
.container {
    width: 100%;
}

@media(min-width:640px) {
    .container {
        max-width: 640px;
    }
}

@media(min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media(min-width:1024px) {
    .container {
        max-width: 1024px;
    }
}

@media(min-width:1280px) {
    .container {
        max-width: 1280px;
    }
}

@media(min-width:1536px) {
    .container {
        max-width: 1536px;
    }
}

@media(min-width:1536px) {
    .container {
        max-width: 1280px;
    }
}

.bg-blueGray-200 {
    --tw-bg-opacity: 1;
    background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
}

.font-semibold {
    font-weight: 600;
}

.h-auto {
    height: auto;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.h-95-px {
    height: 95px;
}

.h-70-px {
    height: 70px;
}

.h-350-px {
    height: 350px;
}

.h-500-px {
    height: 500px;
}

.h-600-px {
    height: 600px;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.max-w-150-px {
    max-width: 150px;
}

.text-blueGray-200 {
    --tw-text-opacity: 1;
    color: rgba(226, 232, 240, var(--tw-text-opacity));
}

.text-blueGray-400 {
    --tw-text-opacity: 1;
    color: rgba(148, 163, 184, var(--tw-text-opacity));
}

.text-blueGray-700 {
    --tw-text-opacity: 1;
    color: rgba(51, 65, 85, var(--tw-text-opacity));
}

@media(min-width:1024px) {
    .lg\:text-blueGray-200 {
        --tw-text-opacity: 1;
        color: rgba(226, 232, 240, var(--tw-text-opacity));
    }
}
