/* Centrer le formulaire */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centrer verticalement */
}

/* Style du formulaire */
.login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  color: #121197; /* Couleur bleue pour les labels */
}

.btn-primary {
  width: 100%;
}