<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="text-center mb-5">
        <h2>Ravepay</h2>
      </div>

      <!-- Section Texte d'accroche -->
      <div class="about-subsection mb-4 text-center">
        <h3>Philosophie</h3>
        <p>
          Découvrez RAVEpay, la banque révolutionnaire qui redéfinit les normes du secteur financier ! Avec RAVEpay, la liberté financière est à portée de main. Notre plateforme entièrement gratuite vous offre un accès sans précédent à une gamme complète de services bancaires, soutenus par la puissance de la crypto-monnaie R4V3. Profitez de transactions instantanées, de frais minimes et d'une sécurité renforcée grâce à notre technologie de pointe. Rejoignez la révolution bancaire avec RAVEpay et libérez le potentiel de votre argent, sans compromis.
        </p>
      </div>

      <!-- Section Notre Développement -->
      <div class="about-subsection mb-4 text-center">
        <h3>Notre Développement</h3>
        <p>
          Découvrez Ravepay, où l'éthique est simple : Ne pas éteindre la lumière des autres pour briller.<br> Bénéficiez d'une utilisation globale de nos services GRATUITEMENT grâce à notre equipe de développement soutenant ainsi l'écosystème R4V3.

Notre application est totalement gratuite, avec des frais externes à notre volontés limités à 1%, partagés à 51% pour le développement du projet R4V3 et à 49% pour le pôle associatif et culturel, représenté par "G00D R0AD".<br>

Soyez assuré de notre engagement continu envers vous a travers Vendetta" Vs sBackShish1%' soutenant ainsi l'écosystème R4V3 pour une immersion  humaniste&solidaire en temps réelles à vos côtés !
        </p>
      </div>

      <!-- Section Nos Partenaires -->
      <div class="about-subsection text-center">
        <h3>Open Sourcing Banking</h3>
        <p>
          Le Open Banking représente une révolution dans le secteur financier, ouvrant de nouvelles opportunités pour les consommateurs, les entreprises et les institutions financières. Grâce à cette initiative novatrice, les utilisateurs peuvent désormais bénéficier d'un accès sécurisé et direct à leurs données financières, tout en explorant une gamme étendue de services et de produits gratuitement grâce a Ravepay.
        </p>
        <h2>Banque Partenaires of R4V3</h2>
        <div class="row">
          <div class="col-md-6">
            <!-- Section Banques Traditionnelles -->
            <div class="about-subsection text-center">
              <h3>Banks EUROPE<br>PartnerShip!</h3>
              <ul>
                <li>ING (divers pays européens)</li>
                <li>BNP Paribas (France et autres pays)</li>
                <li>Société Générale (France et autres pays)</li>
                <li>Deutsche Bank (Allemagne et autres pays)</li>
                <li>Commerzbank (Allemagne)</li>
                <li>ABN AMRO (Pays-Bas)</li>
                <li>Rabobank (Pays-Bas)</li>
                <li>Bank of Ireland (Irlande)</li>
                <li>AIB (Irlande)</li>
                <li>KBC Bank (Belgique et autres pays)</li>
                <li>Belfius Bank (Belgique)</li>
                <li>Danske Bank (Irlande)</li>
                <li>Barclays Bank Ireland (Irlande)</li>
                <li>Danske Bank (Suède)</li>
                <li>Handelsbanken (Suède et autres pays)</li>
                <li>SEB (Suède et autres pays)</li>
                <li>Swedbank (Suède et autres pays baltes)</li>
                <li>DNB Bank (Norvège)</li>
                <li>SpareBank 1 (Norvège)</li>
                <li>OP Financial Group (Finlande)</li>
                <li>Nordea Bank (Finlande)</li>
                <li>OTP Bank (Hongrie et autres pays)</li>
                <li>Erste Group (Autriche et Europe centrale)</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <!-- Section Néo-Banques -->
            <div class="about-subsection text-center">
              <h3>Néo-Banks<br>PartnerShip!</h3>
              <ul>
                <li>Revolut</li>
                <li>N26</li>
                <li>Monzo</li>
                <li>Starling Bank</li>
                <li>Chime</li>
                <li>Varo Bank</li>
                <li>Simple Bank</li>
                <li>Bunq</li>
                <li>Monese</li>
                <li>Tinkoff</li>
                <li>Atom Bank</li>
                <li>Qonto</li>
                <li>Nubank</li>
                <li>TransferWise (Wise)</li>
                <li>Paysera</li>
                <li>Penta</li>
                <li>Tide</li>
                <li>Coconut</li>
                <li>Lunar</li>
                <li>Neon</li>
                <li>Current</li>
                <li>Dave</li>
                <li>Ravepay</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Section pour les liens organisés en trois colonnes -->
      <div class="row">
        <!-- Colonne gauche pour les premiers liens -->
        <div class="col-md-4">
          <div class="about-subsection text-center">
            <ul>
              <li><a routerLink="/LeLobbyHolding">The Lobby Holding</a></li>
              <li><a routerLink="/bookmebitch-com">BookMeBitch</a></li>
              <li><a routerLink="/Ravepay">Ravepay</a></li>
              <li><a routerLink="/Vendetta">Vendetta</a></li>
            </ul>
          </div>
        </div>

        <!-- Colonne centrale pour les liens du milieu -->
        <div class="col-md-4">
          <div class="about-subsection text-center">
            <ul>
              <li><a routerLink="/the-r4v3-project">The R4V3 Project</a></li>
              <li><a routerLink="/R4V3Blockchain">The R4V3 Blockchain</a></li>
              <li><a routerLink="/R4V3army">The R4V3army</a></li>
              <li><a routerLink="/R4V3local">The R4V3 local</a></li>
            </ul>
          </div>
        </div>

        <!-- Colonne droite pour le dernier lien -->
        <div class="col-md-4">
          <div class="about-subsection text-center">
            <ul>
              <li><a routerLink="/TheG00DR0AD">The GoodRoad</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    




