<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="text-center mb-5">
        <h2>Ravepay</h2>
      </div>

      <!-- Section Texte d'accroche -->
      <div class="about-subsection mb-4 text-center">
        <h3>Philosophie</h3>
        <p>
          Découvrez RAVEpay, la banque révolutionnaire qui redéfinit les normes du secteur financier ! Avec RAVEpay, la liberté financière est à portée de main. Notre plateforme entièrement gratuite vous offre un accès sans précédent à une gamme complète de services bancaires, soutenus par la puissance de la crypto-monnaie R4V3. Profitez de transactions instantanées, de frais minimes et d'une sécurité renforcée grâce à notre technologie de pointe. Rejoignez la révolution bancaire avec RAVEpay et libérez le potentiel de votre argent, sans compromis.
        </p>
      </div>

      <!-- Section Notre Développement -->
      <div class="about-subsection mb-4 text-center">
        <h3>Notre Développement</h3>
        <p>
          Découvrez Ravepay, où l'éthique est simple : <strong>Ne pas éteindre la lumière des autres pour briller.</strong><br> Bénéficiez d'une utilisation globale de nos services GRATUITEMENT grâce à notre equipe de développement soutenant ainsi l'écosystème R4V3.

Notre application est totalement gratuite, avec des frais externes à notre volontés limités à 1%, partagés à 51% pour le développement du projet R4V3 et à 49% pour le pôle associatif et culturel, représenté par "FaithWay"<br>

Soyez assuré de notre engagement continu envers vous a travers Vendetta" Vs sBackShish1%' soutenant ainsi l'écosystème R4V3 pour une immersion Open-W0RLD humaniste&solidaire en temps réelles à vos côtés !
        </p>
      </div>

      

      <!-- Section pour les liens organisés en trois colonnes -->
      <div class="row">
        <!-- Colonne gauche pour les premiers liens -->
        <div class="col-md-4">
          <div class="about-subsection text-center">
            <ul>
              <li><a routerLink="/LeLobbyHolding">The Lobby Holding</a></li>
              <li><a routerLink="/bookmebitch-com">BookMeBitch</a></li>
              <li><a routerLink="/Ravepay">Ravepay</a></li>
              <li><a routerLink="/Vendetta">Vendetta</a></li>
            </ul>
          </div>
        </div>

        <!-- Colonne centrale pour les liens du milieu -->
        <div class="col-md-4">
          <div class="about-subsection text-center">
            <ul>
              <li><a routerLink="/the-r4v3-project">The R4V3 Project</a></li>
              <li><a routerLink="/R4V3Blockchain">The R4V3 Blockchain</a></li>
              <li><a routerLink="/R4V3army">The R4V3army</a></li>
              <li><a routerLink="/R4V3local">The R4V3 local</a></li>
            </ul>
          </div>
        </div>

        <!-- Colonne droite pour le dernier lien -->
        <div class="col-md-4">
          <div class="about-subsection text-center">
            <ul>
              <li><a routerLink="/FaithWay">FaithWay</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-vendetta></app-vendetta>

</div>

    




