@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
    position: relative!important;
    overflow: auto!important;
    transform: none!important;
}

::-webkit-scrollbar {
    display: none;
}