<div class="container">
    <!-- Section 1 -->
    <section class="global-amount-section mb-5">
      <div class="card">
        <div class="card-header text-center">
          <h1>Global Vendetta Account Amount</h1>
        </div>
        <div class="card-body text-center">
          <p>1. Global Vendetta R4V3 Amount: R4V3 “ ????”</p>
          <p>2. Global Vendetta Bitcoin Amount: Bitcoin “ ????”</p>
          <p>3. Global Vendetta CustomToken: ETH/SHIB/Matic/.. “ ????”</p>
          <p>4. Global Vendetta F.I.A.T: FIAT MONEY BB “ $$$ ”</p>
          <p>5. GLOBAL VENDETTA ACTUAL AMOUNT: “?$?$?$?$?$?”</p>
        </div>
      </div>
    </section>
  
    <!-- Section 2 -->
    <section class="global-amount-section mb-5">
      <div class="card">
        <div class="card-header text-center">
          <h1>Global Ravepay Account Amount</h1>
        </div>
        <div class="card-body text-center">
          <p>1. Global Ravepay R4V3 Amount: R4V3 “ ????”</p>
          <p>2. Global Ravepay Bitcoin Amount: Bitcoin “ ????”</p>
          <p>3. Global Ravepay CustomToken: ETH/SHIB/Matic/.. “ ????”</p>
          <p>4. Global Ravepay F.I.A.T: FIAT MONEY BB “ $$$ ”</p>
          <p>5. GLOBAL Ravepay ACTUAL AMOUNT: “?$?$?$?$?$?”</p>
        </div>
      </div>
    </section>
  
    <!-- Section 3 -->
    <section class="global-amount-section mb-5">
      <div class="card">
        <div class="card-header text-center">
          <h1>Total “name.userprofil” Account Amount</h1>
        </div>
        <div class="card-body text-center">
          <p>1. Global name.userprofil R4V3 Amount: R4V3 “ ????”</p>
          <p>2. Global name.userprofil Bitcoin Amount: Bitcoin “ ????”</p>
          <p>3. Global name.userprofil CustomToken: ETH/SHIB/Matic/.. “ ????”</p>
          <p>4. Global name.userprofil F.I.A.T: FIAT MONEY BB “ $$$ ”</p>
          <p>5. GLOBAL name.userprofil ACTUAL AMOUNT: “?$?$?$?$?$?”</p>
        </div>
      </div>
    </section>
  
    <!-- Section 4 -->
    <section class="global-amount-section mb-5">
      <div class="card">
        <div class="card-header text-center">
          <h1>Total “VIEW” Account Amount</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <p>1. GLOBAL VENDETTA ACTUAL AMOUNT</p>
            </div>
            <div class="col-md-4">
              <p>2. GLOBAL RavePay ACTUAL AMOUNT</p>
            </div>
            <div class="col-md-4">
              <p>3. GLOBAL Account & DONATION Amount</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>“?$?$?$?$?$?”</p>
            </div>
            <div class="col-md-4">
              <p>“?$?$?$?$?$?”</p>
            </div>
            <div class="col-md-4">
              <p>“?$?$?$?$?$?”</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
