name: jira-description-action
on:
  pull_request:
    types: [opened, edited]
jobs:
  add-jira-description:
    runs-on: ubuntu-latest
    steps:
      - uses: cakeinpanic/jira-description-action@master
        name: jira-description-action
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          jira-token: ${{ secrets.JIRA_TOKEN }}
          jira-base-url: https://les-potits-chats.atlassian.net/
          skip-branches: '^(production-release|main|master|release\/v\d+)$' #optional
          jira-project-key: 'LMST2'
          custom-issue-number-regexp: '\d+' 